<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create</title>
</head>
<body>
<form method="post" th:action="@{/create}" th:object="${product}" novalidate="novalidate">
    <table border="1">
        <tr>
            <td><input type="text" th:field="*{name}" placeholder="Name"></td>
        </tr>
        <tr>
            <td><input type="number" th:field="*{price}" placeholder="Price"></td>
        </tr>
        <tr>
            <td>
                <select name="category" th:field="*{category}">
                    <option th:each="category : ${category}" th:value="${category.getCategory()}"
                            th:utext="${category.getCategory()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Create</button>
            </td>
        </tr>
    </table>
</form>
<a href="/home">Back</a>
</body>
</html>
